<!doctype html>
<html>

<head>
    <title>Cute Animal Store</title>
    {{!Layouts are great for putting "common" stuff in one place. For example, in this case we want all our pages to contain
    links to jQuery and Boostrap. }}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Bootstrap Theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/css/my-styles.css">
</head>

<body>

    {{!Might be a good idea to have our navbar in our main layout, so it's replicated across pages.}}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/">My Cute Animal Store</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {{#if animalsPage}}class="active" {{/if}}><a href="/">Our Animals</a></li>
                    {{#if username}}
                    <li {{#if orderHistoryPage}}class="active" {{/if}}><a href="/orderHistory"><span class="glyphicon glyphicon-list-alt"></span> My History</a></li>
                    <li {{#if checkoutPage}}class="active" {{/if}}><a href="/checkout"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</a></li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
                    {{#if username}}
                    <li><a href="/orderHistory"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {{else}}
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="col-md-8">
            {{{body}}}
        </div>

        {{!Shopping Cart}}
        <div class="col-md-4">
            <div class="shopping-cart panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">My Cart</h3>
                </div>
                <div class="panel-body">
                    {{#if cart}}
                    <form action="/updateCart" method="POST">
                        <table class="table table-striped">
                            <tbody>
                                {{#each cart}}
                                <tr>
                                    <td class="col-md-4"><input type="number" min="0" max="100" class="form-control" name="count-{{id}}" value="{{count}}"></td>
                                    <td class="col-md-8">
                                        <p class="form-control-static">{{name}}</p>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update Quantities</button>
                            <button formaction="/clearCart" class="btn btn-danger" type="submit">Clear Cart</button>
                        </div>
                        {{!Used so we can redirect back to this page when the user updates their cart.}}
                        <input type="hidden" name="thisPage" value="{{thisPage}}">
                    </form>
                    {{else}}
                    <p>There are no cute, fluffy animals in your cart! Please add some!</p>
                    {{/if}}
                    
                    {{#if cartMessage}}
                    <div class="alert alert-info alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <p>{{cartMessage}}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
</body>

</html>